{% extends 'base.html' %}
{% block title %}CRM Opportunity Dashboard{% endblock %}
{% block extrascripts %}
{% endblock %}
{% block content %} 
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Opportunity Title (Stage)</a>
                <p>Edited on Dixie. Opportunity Notes go here. Lorem ipsum delor sit flavius maximus rotunda vidi vini vichi thermostat. </p>
                <p class="pull-right"><a href="#">Edit</a></p>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Contact Information
                        <span class="text-right pull-right">
                            <a href="#" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>Company</td>
                        <td><a href="#">ACME, Inc.</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>123 Main St</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Testville</td>
                    </tr>
                    <tr>
                        <td>State, Zip</td>
                        <td>TV, 90210</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>555-555-5555</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:someone@someplace.com">someone@someplace.com</a></td>
                    </tr>
                </table>
                    <div class="pull-right">
                    <a href="#" class="btn btn-primary btn-fab btn-raised mdi-content-add-box text-right" title="Create New Reminder"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Map
                        <span class="text-right pull-right">
                            <a href="#" class="btn btn-info btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
    <center><iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12727.790476754675!2d-113.56689800000001!3d37.10636435!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1449102801101" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Call Log for ACME, Inc.
                        <span class="text-right pull-right">
                            <a href="#" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
                <table class="table">
                <tr>   
                    <th>Date</th>
                    <th>Note</th>
                    <th>Who</th>
                </tr>
                <tr>   
                    <td>1 Dec 2015</td>
                    <td>Called and left a message. They were on vacation.</td>
                    <td>ridley</td>
                </tr>
                <tr>   
                    <td>3 Dec 2015</td>
                    <td>Sent care package because the coyote got an anvil dropped on his head.</td>
                    <td>Cari</td>
                </tr>
                </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Stage History
                        <span class="text-right pull-right">
                            <a href="#" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Stage</th>
                        <th>User</th>
                    </tr>
                    <tr>
                        <td>1 April 2015</td>
                        <td>Lead</td>
                        <td>Ralph</td>
                    </tr>
                    <tr>
                        <td>3 July 2015</td>
                        <td>Demo Sent</td>
                        <td>Ralph</td>
                    </tr>
                    <tr>
                        <td>20 Nov 2015</td>
                        <td>Closed Won</td>
                        <td>Jane</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
